################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/netlify.toml
.vs/**
.local/**
