################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.functions/**
/netlify.toml
.vs/**
.local/**
node_modules