################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

functions/**
.vs/**
.local/**
node_modules