/*CLIENT THEMING VARIABLES*/
:root {
    
    /* moved branding to CMS
    /*primary colour!1!
    --primary-R: 233;
    --primary-G: 115;
    --primary-B: 37;
    /*secondary colour!1!
    --secondary-R: 0;
    --secondary-G: 175;
    --secondary-B: 229;*/

    /*optional variables - only specify if included in Contentful - fallback is calculated colours below
	--primary-darker: xxx;
	--primary-lighter: xxx;
	--secondary-darker: xxx;
	--secondary-lighter: xxx;
	*/

    /*client images and branding loaded from CMS */
    /*--company-logo: url();
	
	--header-img-01: url();
	
	--content-img-01: url(https://www.computershare.com/PublishingImages/resize%20happy%20hcf.jpg?RenditionId=4);
	--content-img-02: url(https://www.computershare.com/PublishingImages/GettyImages-555799109.jpg?RenditionId=3);
	
	--content-img-03: url(https://www.computershare.com/PublishingImages/GettyImages-173807453.jpg?RenditionID=1);
	*/
    --header-bg-position: center center;

    /*END CLIENT THEME VARIABLES*/
    /*CALCULATED AND INTERNAL VARIABLES*/
    --brand-primary: rgb(var(--primary-R),var(--primary-G),var(--primary-B));
    --brand-secondary: rgb(var(--secondary-R),var(--secondary-G),var(--secondary-B));

    /*tints and shades*/
    --primary-darker: rgb(calc(var(--primary-R) * .95), calc(var(--primary-G) * .95), calc(var(--primary-B) * .95));
    --primary-lighter: rgb(calc(((255 - var(--primary-R)) * .25) + var(--primary-R)), calc(((255 - var(--primary-G)) * .25) + var(--primary-G)), calc(((255 - var(--primary-B)) * .25) + var(--primary-B)));
    --secondary-darker: rgb(calc(var(--secondary-R) * .5), calc(var(--secondary-G) * .5), calc(var(--secondary-B) * .5));
    --secondary-lighter: rgb(calc(((255 - var(--secondary-R)) * .25) + var(--secondary-R)), calc(((255 - var(--secondary-G)) * .25) + var(--secondary-G)), calc(((255 - var(--secondary-B)) * .25) + var(--secondary-B)));
    /*END CALCULATED AND INTERNAL VARIABLES*/
}

*, :before, :after {
	box-sizing: border-box;
}

/*Type*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
	font-size: 62.5%;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	color: #202020;
}

h1, .h1 {
	font-size: 8rem;
	font-weight: 300;
	text-transform: uppercase;
	color: var(--brand-primary);
}
h2, .h2 {
	font-size: 4rem;
	font-weight: 400;
	color: #2f373c;
}
h3, .h3 {
	font-size: 3rem;
	font-weight: 400;
	color: var(--brand-primary);
}
.main {
	font-size: 1.8rem;
}
.lead {
	font-size: 2rem;
}






/*structure*/
body {
	margin: 0;
	padding: 0;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media(min-width: 768px) {
    .container {
        width:75rem;
    }
}

@media(min-width: 992px) {
    .container {
        width:97rem;
    }
}

@media(min-width: 1199px) {
    .container {
        width:117rem;
    }
	.narrow {
		width: 85rem;
		margin: 0 auto;
	}
}





content-box dark-bg a {
    color: #fff;
}

/*top menu*/
.main-menu {
    background: #fff;
    box-shadow: 0 .2rem .7rem 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
.main-menu .flex-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.main-menu li a, .dropdown a {
	font-size: 1.4rem;
	text-decoration: none;
	font-weight: 500;
	color: #2f373c;
}
.main-menu li a:hover, .main-menu li a:focus, 
.dropdown a:hover, .dropdown a:focus,
.main-menu a.active {
	color: var(--brand-primary);
}
.company-logo {
	display: block;
	text-indent: -3000em;
	background-image: var(--company-logo);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 140px;
	height: 80px;
}
.badge-wrapper {
	position: relative;
	flex: 1;
}
.badge-wrapper .badge {
	position: absolute;
}
.badge-wrapper .badge-kite {
	top: -6rem;
}
.badge-wrapper .badge-balloon {
	top: -3rem;
}
.badge-wrapper .badge-circle {
	top: -3rem;
	left: 4rem;
}
.badge-wrapper .badge-square {
	top: -3rem;
	left: 4rem;
}
.dropdown {
	margin-right: 6rem;
}
.dropdown ul {
	display: none;
}

.menu-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 5rem;
}
.menu-list a {
	padding: 2rem;
}
@media (max-width: 991px){
	.menu-list {
		/*display: none;*/
		
		position: absolute;
		right: -37rem;
		top: 0;
		display: block;
		height: 100vh;
		background: #fff;
		padding: 20px;
		width: 32rem;
		border: 1px solid #bbb;
		font-size: 2rem;
		transition: right 0.4s ease-in-out;
	}
	.active.menu-list {
		right: -5rem;
	}
	.menu-list li {
		width: 100%;
		border-bottom: 1px solid #bbb;
		padding: 2rem;
	}
	.hamburger-button {
		/*position: absolute;
		top: 0;
		right: 0;*/
		z-index: 3;
		background: transparent;
		border: 0;
		padding: 10px;
		margin: 0 0 0 1rem;
	}
	.hamburger-button-content {
		text-indent: -3000em;
		display: block;
		transform: opacity 0.1s linear;
	}
	.hamburger-button:before, .hamburger-button-content {
		margin-bottom: 4px;
	}
	.hamburger-button:before, .hamburger-button:after, .hamburger-button-content {
		width: 25px;
		height: 3px;
		background: #202020;
	}
	.hamburger-button:before, .hamburger-button:after {
		content: '';
		display: block;
		transition: transform 0.3s ease-in-out;
	}
	.hamburger-button[aria-expanded=true]:before {
		transform: rotate(45deg);
		transform-origin: 10%;
	}
	[aria-expanded=true] .hamburger-button-content {
		opacity: 0;
	}
	.hamburger-button[aria-expanded=true]:after {
		transform: rotate(-45deg);
		transform-origin: 10%;
	}
}

@media(max-width: 767px){
	.main-menu .badge-wrapper {
		display: none;
	}
}
@media(min-width: 992px){
	.hamburger-button {
		display: none;
	}
	
	
	.badge-wrapper .badge-square {
		left: 2rem;
	}
	.dropdown {
		margin-right: 2rem;
	}
	.menu-list {
		margin-right: 1rem;
	}
	.menu-list a {
		padding: 1.2rem;
	}
}
@media (min-width: 1200px){
	.dropdown {
		margin-right: 6rem;
	}
	.menu-list {
		margin-right: 5rem;
	}
	.menu-list a {
		padding: 2rem;
	}
}




/*header*/
.header {
	background-image: var(--header-img-01); /*use gradient for photo themes only*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: var(--header-bg-position);
	margin-top: 8rem;
	padding: 1rem 0;
	height: 53rem;
	position: relative;
}
.header h1 {
	color: #2f373c;
}
.header h2 {
	color: #fff;
}
.page-sub-heading {
	color: #fff;
}
.page-sub-heading > * {
	margin: 0;
	font-size: 4rem;
    font-weight: 400;
}
.header .btn-lge {
	background: var(--brand-primary);
	padding: .9rem 7rem 1rem 7rem;
	font-size: 1.6rem;
	
	position: absolute;
    bottom: 6rem;
    
}
@media(min-width: 768px){
	.header .btn-lge {
		left: 50%;
		transform: translateX(-50%);
	}
}

.main {
	padding-top: 5rem;
}
@media(max-width: 767px){
	h1 {
		font-size: 6rem;
	}
	
}


/*page components*/
.btn {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background: var(--primary-darker);
	padding: .9rem 6.4rem 1rem 6.4rem;
	margin: .5rem 0;
    font-size: 1.1rem;
    border-width: 0;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 50vh;
	font-weight: 500;
    box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
    transition: background 0.18s ease-in-out, box-shadow 0.18s ease-in-out;
}
.btn-narrow {
	padding: .9rem 2.3rem 1rem 2.3rem;
}

.btn:hover, .btn:focus {
	background: var(--primary-darker);
	box-shadow: 0 .2rem .7rem 0 rgba(0, 0, 0, 0.4);
}

.btn-block {
	margin: 0 auto;
	
}

.btn-inverse {
	background: #fff;
	border: 1px solid var(--brand-primary);
	color: #202020;
}
.btn-inverse:hover,
.btn-inverse:focus {
	background: #fff;
	border: 1px solid var(--brand-primary);
	color: #202020;
}


/*badges*/
.badge {
	text-decoration: none;
	display: block;
	position: relative;
}
.badge-circle {
	background: var(--brand-primary);
	
	width: 14.4rem;
	height: 14.4rem;
	border-radius: 50%;

	box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, 0.3);
}




.badge-circle .badge__content {
	transform: rotateZ(-10deg);
	height: 100%;
}


.header .badge-circle {
	position: absolute;
    top: 7rem;
    right: 50%;
    transform: translateX(45rem);
}


@media (max-width: 991px){
	.header .badge-circle {
		top: auto;
		bottom: 13rem;
		right: 2rem;
		transform: none;
	}
}
.header .badge-circle .badge__content {
	transform: rotateZ(10deg);
	height: 100%;

}

.badge-kite {
	display: block;
	width: 22rem;
	height: 23rem;
	position: relative;
}

.badge-kite .badge__content {
	position: absolute;
	left: 25%;
    width: 11.5rem;
    top: 6.2rem;
}
.kite-top, .kite-flag {
	fill: var(--brand-secondary);
}
.kite-flag-2 {
	fill: var(--primary-lighter);
}

.badge-balloon {
	display: block;
	width: 20rem;
	height: 23rem;
	position: relative;
}
.badge-balloon .badge__content {
	position: absolute;
    left: 33%;
    width: 11.5rem;
    top: 4.2rem;
}
.balloon-top {
	fill: var(--brand-secondary);
}

.badge-square {
	background: var(--primary-darker);
	display: block;
	width: 12rem;
	height: 12rem;
	border-radius: .4rem;

	box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, 0.3);
	
	position: relative;
	
	transform: rotateZ(-8deg);
}
.badge-square .badge__content {
	height: 100%;
}



.badge__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	text-align: center;
}
.badge-text h1, .badge-text h2, .badge-text h3, .badge-text h4 {
	margin: 0;
	padding: 0;
	color: #fff;
	margin-block-start: 0;
    margin-block-end: 0;
}
.badge-text {
	font-size: 1.4rem;
	font-weight: 700;
}
.badge-text h3 {
	font-size: 1.4rem;
	font-weight: 700;
}
.badge-text-med {
	font-size: 2.2rem;
	font-weight: 500;
}
.badge-text h2 {
	font-size: 2.8rem;
	font-weight: 500;
}
.badge-text h1 {
	font-size: 3.2rem;
	font-weight: 500;
	line-height: 0.8;
}

.badge-text p {
	display: none; /*contentful adds an empty p tag at the end*/
}

.block-img {
	display: block;
	width: 41.6666%;
	max-height: 47rem;
	border: 1px solid #b6b6b6;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	flex: none;
}


@media(max-width: 991px){
	.block-img {
		width: 66%;
		margin: 1rem auto;
	}
}
.block-img:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.content-img-01 {
	background-image: var(--content-img-01);
}
.content-img-02 {
	background-image: var(--content-img-02);
}


.dark-bg {
	background: #2f373c;
	color: #fff;
}
.dark-bg h2 {
	color: #fff;
}
.dark-bg h3 {
	color: var(--brand-secondary);
}


.primary-bg {
	background: var(--brand-primary);
	color: #e4e5e6;
}
.primary-bg h2 {
	color: #e4e5e6;
}

/*carousel styles*/
.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.carousel-dots {
	list-style:none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
}
.carousel-dots li {
	display: inline-block;
}
.carousel-dots a {
	display: block;
	margin: 0 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	text-indent: -3000em;
	border-radius: 50%;
	background: #fff;
}
.carousel-dots a.active {
	background: var(--brand-secondary);
}


.btn-carousel {
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	outline: 0;
}
.btn-carousel .icon {
	width: 4rem;
	height: 4rem;
	fill: var(--brand-secondary);
}
.btn-carousel:hover .icon, .btn-carousel:focus .icon {
	fill: var(--secondary-darker);
}
.carousel-back {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
.carousel-next {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	
}



.carousel-content {
	z-index: 1;
	position: relative;
	display: flex;
	overflow: hidden;
	width: 100%;
}




.carousel-item {
	padding: 0 0 2rem 0;
	width: 100%;
	height: 100%;

	flex: none;
	
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

@media(min-width: 992px){
	.carousel-item {
		padding: 0 0 6rem 0;
	}
}

.carousel-item.active {
	opacity: 1;
}



.carousel-item.slide-right {
	animation: SlideRight 0.6s ease-in-out;
	animation-fill-mode: forwards;
}
.carousel-item:focus {
	outline: 0;
}

@keyframes SlideRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.carousel-item.slide-left {
	animation: SlideLeft 0.6s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes SlideLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
.carousel-item.slide-out-left {
	animation: SlideOutLeft 0.6s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes SlideOutLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.carousel-item.slide-out-right {
	animation: SlideOutRight 0.6s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes SlideOutRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}


/*carousel content*/
.step-block{
	padding-left: 4rem;
	position: relative;
}
.step-number {
	font-size: 4rem;
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 50%;
	background: #fff;
	color: var(--brand-primary);
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 2rem;
}
.step-number span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-tick {
	transform: rotateY(180deg) rotateZ(180deg);
	width: 3.2rem;
	height: 4rem;
	fill: var(--brand-secondary);
	display: inline-block;
	vertical-align: middle;
	margin-right: 3.7rem;
}

.icon-laptop {
	width: 8.4rem;
	height: 6.8rem;
	fill: #e4e5e6;
	display: inline-block;
	vertical-align: middle;
}

.icon-return {
	width: 4rem;
	height: 2rem;
	fill: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1.2rem;
	margin-left: 2rem;
}

.icon-chat {
	display: block;
	width: 9rem;
	height: 8rem;
	fill: #fff;
}
.icon-calendar {
	height: 6.5rem;
    fill: #fff;
    width: 7rem;
}
.icon-calculator {
	width: 8.4rem;
	height: 12rem;
	fill: var(--brand-primary);
	margin-right: 2rem;
}
.icon-mail {
	width: 4rem;
	height: 3rem;
	margin-right: 2rem;
}
.icon-mobile {
	fill: #fff;
    width: 5rem;
    vertical-align: middle;
    height: 7rem;
	margin-left: 2rem;
}

@media (max-width: 576px){ /*layout for phone portrait*/
	.carousel-content .block-img {
		width: 50%;
	}
	.carousel-content .h2, .carousel-content h2 {
		font-size: 2.5rem;
	}
	.carousel-content .h3, .carousel-content h3 {
		font-size: 2.2rem;
	}
	.carousel-content .lead {
		font-size: 1.5rem;
	}
	.carousel-nav .btn-carousel {
		top: 12%;
	}
	.carousel-content .step-number {
		width: 5rem;
		height: 5rem;
		font-size: 3rem;
	}
}






/*process steps*/
.process-steps {
    display: flex;
    flex-direction: row;
    counter-reset: flag;
    margin-left: 0;
    padding-left: 0;
    font-size: 14px;
}
.process-steps li {
    padding: 15px 15px 15px 70px;
    background: var(--secondary-lighter);
    margin-right: 30px;
    list-style: none;
    counter-increment: flag;
    position: relative;
    border-radius: 4px;
    height: 95px;
    flex: 1;
}
.process-steps li:nth-child(2){
    padding-left: 90px;   
}
.process-steps li:nth-child(3){
    padding-left: 95px;   
}
.process-steps .process-steps-title {
    color: var(--brand-primary);  
}
.process-steps li:before {
    content: counter(flag);
    position: absolute;
    left: -8px;
    font-size: 163px;
    bottom: -15px;
    line-height: 150px;
    font-weight: bold;
    color: #fff;
}
.process-steps li:nth-child(2):before {
    left: -4px;   
}
.process-steps li:nth-child(3):before {
    left: -4px;   
}
.process-steps li:after {
    content: '';
    display: block;
    position: absolute;
    right: -29px;
    top: 0;
    width: 0; 
    height: 0; 
    border-top: 62px solid transparent;
    border-bottom: 62px solid transparent;
  
    border-left: 30px solid var(--secondary-lighter);
}

.process-callout {
    background: #d4edf9;
    display: block;
    padding: 20px 0;
    text-align: center;
    border-radius: 4px;
    margin: 30px 0;
}



.step-list {
	list-style: none;
	padding-left: 1.5rem;
}
.step-list li {
	margin: 1.5rem 0;
	clear: both;
}


.content-box {
	margin: 0 2rem;
	padding: 2rem;
}
@media(min-width: 992px){
	.content-box {
		width: 45%;
	}
}


.testimonials {
	min-height: 40rem;
	background-image: var(--content-img-03);
}
blockquote {
	font-size: 4rem;
	margin: 0;
	color: #2f373c;
}
cite {
	font-size: 2.5rem;
}
@media (max-width: 576px){
	blockquote {
		font-size: 2rem;
	}
}



.note {
	padding: 0.5rem 2rem;
	background: var(--brand-secondary);
	color: #202020;
	max-width: 74rem;
	margin: 4rem auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: .4rem;
}
.fineprint {
	font-size: 72.222%; /*13px*/
	max-width: 85rem;
	margin: 4rem auto;
}

/*spacing*/
.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: .5rem;
}
.mb-0 {
	margin-bottom: 0;
}
.mr-5 {
	margin-right: 3rem;
}
.pt-5 {
	padding-top: 3rem;
}
.pl-0 {
	padding-left: 0;
}
section {
	padding: 2rem 0;
}

@media(max-width: 992px){
	.mt-5-sm {
		margin-top: 3rem;
	}
}

@media(min-width: 992px){
	.mr-5-md {
		margin-right: 3rem;
	}
}



/*alignment*/
.text-center {
	text-align: center;
}

.pull-left {
	float: left;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.hidden {
	display: none;
}

h2 b { color: var(--brand-primary); font-weight: normal; }

.join-options-text p {
    display: inline;
}
.join-options-text a {
    color: var(--brand-primary);
}
.join-options-text p b {
    color: var(--brand-primary);
    font-weight: normal;
}

/*colours*/
.text-primary {
	color: var(--brand-primary);
}
.text-secondary-darker {
	color: var(--secondary-darker);
}
.text-secondary {
	color: var(--brand-secondary);
}



/*layout*/
section:focus {
	outline: 0;	
}

@media(min-width: 992px){
	.flex-row-md {
		display: flex;
		flex-direction: row;
	}
}

@media(min-width: 768px){
	
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-center {
	align-items: center;
}
.flex-end {
	justify-content: flex-end;
}

.flex-none {
	flex: none;
}
.valign-center {
	align-items: center;
}
.valign-top {
	align-items: top;
}