<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        How It Works
    </title>
    <link type="text/css" rel="stylesheet" href="./styles/portal.css" charset="UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link href="./styles/Theme.gespp_microsite.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
    <script language="javascript" type="text/javascript">
        var exports = {}; // quick fix because 'exports' is not defined in rich-text bundle below
    </script>
    <script
        src="https://unpkg.com/@contentful/rich-text-html-renderer@12.0.0/dist/rich-text-html-renderer.es5.js"
        charset="utf-8"
    ></script>
    <script language="javascript" type="text/javascript">
        function markDownToHtmlString(markdown) {
            return new showdown.Converter().makeHtml(markdown);
        }

        var client = contentful.createClient({
            space: '1mv2u22omsld',
            accessToken: '899769f9000215ba2d755e43bb5c4e525282c18553ec28b6faccf820f7a38258',
        });

        var companyCode = '4iB5Ogb9L3IH2fyUNi5IXs';

        function render(data) {
            for (var f in data.fields) {
                if (data.fields[f].nodeType === "document") {
                    data.fields[f] = documentToHtmlString(data.fields[f]);
                } else if (typeof (data.fields[f]) === "string" && (data.fields[f].indexOf('\r') > -1 || data.fields[f].indexOf('\n') > -1)) {
                    data.fields[f] = markDownToHtmlString(data.fields[f]);
                }
            }

            vm.$set(vm, 'content', data.fields);
            vm.$set(vm, 'loading', false);
            
        }

        function renderError(data) {
            vm.content = data;
        }

        function load(locale) {
            //vm.$set(vm, 'loading', true);

            client.getEntry(companyCode, { locale: locale })
                .then(render, renderError);
        }

        function setLocales(data) {
            vm.$set(vm, 'locales', data);
        }

        client.getLocales()
            .then(setLocales);

        load();
    </script>
</head>
<body>
<div class="page-wrapper" id="app">
    <div class="container" v-if="loading">
        Loading...
    </div>
    <div class="container" v-else>
        <div id="wtWhat" class="main-content">
            <div style="text-align: center;" >
                <span v-for="locale in locales.items"><a href="#" v-bind:onclick="'load(\'' + locale.code + '\');'">{{ locale.name }}</a> &nbsp;</span>
            </div>
            <h1 class="page-title" id="">{{ content.heroMessageTitle }}</h1>
            <div class="main-content clearfix">
                <img class="img-left" alt=""
                     v-bind:src="content.heroImage.fields.file.url"
                     v-bind:width="content.heroImage.fields.file.details.image.width"
                     v-bind:height="content.heroImage.fields.file.details.image.height"/>
                <div>
                    <p v-html="content.heroMessage"></p>
                    <p v-html="content.longText"></p>
                    <p v-html="content.markDown"></p>
                    <p style="margin-bottom: 10px;" v-for="para in content.heroMessage.content">{{ para.content[0].value }}</p>
                </div>
            </div>
        </div>

        <ul id="wtNavContainer" class="site-nav">
            <li id="wtlistitem1" class="active">
                <div><a id="wt12" href="#">What is it?</a>
                </div></li>
            <li id="wtlistitem2" class="inactive"><a id="wt16" href="#">How it works</a></li>
            <li id="wtlistitem3" class="inactive"><a id="wt13" href="#">What risks?</a></li>
            <li id="wtlistitem4" class="inactive"><a id="wt19" href="#">How to Join</a></li>
            <li id="wtlistitem5" class="inactive"><a id="wt3" href="#">FAQs</a></li>
            <li id="wtlistitem6" class="nav-join"><a id="wt8" href="#">Join now</a></li>
        </ul>
    </div>
</div>
<script language="javascript" type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            loading: true,
            content: {},
            locales: []
        }
    });
</script>
</body>
</html>